@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.formP{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body{
    background-color: #f0f0f0;
    font-family: 'inter' sans-serif;
}
.form{
    padding: 10%;
    background-color: #FFF;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.labels{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inputs{
    display: block;
    width: 100%;
    min-height: 3vh;
    border: 2px solid black;
    border-radius: 5px;
}
.smalls{
    color: #bd4d4d;
    visibility: hidden;
}
#header{
    color: blue;
}
#submit{
    width: 100%;
    min-height: 5vh;
    border-radius: 5px;
    transition: 1s;
}
#submit:hover{
    background-color: blue;
    color: #FFF;
    transition: 1s;
}
.inForm.success input{
    border-color: greenyellow;
}
.inForm.eror input{
    border-color: #bd4d4d;
}
.inForm.eror small{
    visibility: visible;
}